footer{
  background-color: black;
  overflow: hidden;
  height:16px;
}

footer span{
  padding: 0 1vw;
  color: lightgray;
  border-left: 1px solid lightgray;
  font-style: italic;
}

footer span:first-child{
  font-weight: bold;
  color: rgb(255, 34, 0);
  border:none;
  font-style: normal
}

footer>div{
  display: inline;
}
